@model ESUI.Models.LoginModel
@{
    Layout = null;
    if (ViewData["IsShowAlert"] != null && ViewData["IsShowAlert"].ToString() == "True")
    {

        Response.Write(" <script>alert('" + ViewData["Alert"] + "'); </script>");

    }
}

<!DOCTYPE html>
<html>



<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta id="d_meta_keywords" name="keywords" content="电车E管家">
    <meta name="description" content="南宁E联创软件工作室 QQ 317490789">
    <meta name="copyright" content="南宁E联创软件工作室">
    <title>天下电动车
</title>

    <link href="~/Content/Login/wuye/base.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Login/wuye/login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Login/wuye/sitebefore.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/JqueryEasyUI/jquery1.9.min.js"></script>
    <script type="text/javascript">
        $(function () {

            //首次加载

            CV();

            //单击验证码事件

            $("#valiCode").bind("click", function () {

                this.src = "/Login/GetValidateCode?time=" + (new Date()).getTime();

            });


        });

        function CV() {
            $("#valiCode").attr("src", "/Login/GetValidateCode?time=" + (new Date()).getTime());

        }
        function cleartxt() {
            $('#VCode').val('');
        }
    </script>
</head>

<body>
    <div class="container">

        <div class="header">

            <table width="100%">
                <tbody>
                    <tr style="vertical-align: bottom">

                        <td style="width: 700px;">
                            @*  <img src="~/Content/Login/wuye/header.png" style="border: 0px;" alt="">*@
                            <span style="padding-left: 10px; font-size: 30px; float: left; color:#566695; line-height: 70px; font-family: Verdana, 微软雅黑,黑体">
                                <img src="~/Content/Images/logo.png" width="64" height="64" align="absmiddle" />
                               天下电动车
                            </span>
                        </td>

                        <td align="left" valign="middle">
                            <div id="d_region_menu">
                                <ul id="breadcrumb">

                                    <li><a href="#" class="chinese" target="_blank">联系我们</a></li>
                                     <li><a href="#" class="chinese" target="_blank">系统说明</a></li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="content">
                <div class="login_box cf">
                    <div class="pic fl">
                        <img src="~/Content/Login/wuye/login_left.jpg">
                    </div>
                    <div class="login fr">
                        <p>
                            <label>用户名</label>
                            @Html.TextBoxFor(m => m.LoginName, new { @class = "TxtUserNameCssClass" })
                        </p>
                        <p>
                            <label><a href="#"></a>密码</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "TxtPasswordCssClass" })
                        </p>
                        <p class="verify">
                            @Html.TextBoxFor(m => m.VCode, new { @class = "TxtValidateCodeCssClass", @Value = "验证码", @onfocus = "cleartxt();" })
                            <span class="code">
                                <img id="valiCode" style="cursor: pointer;" class="img" src="/Common/GetValidateCode" alt="看不清？请点我" /></span>
                            <a href="#" onclick="CV();">看不清楚</a>
                        </p>
                        <p>
                            <label><a href="#"></a>类型</label>
                            @Html.DropDownListFor(model => model.UserType, ViewData["UserType"] as SelectList, new { @class="selecttor"})
                        </p>
                        <p class="btn">
                            <input name="" type="submit" value="登录">
                        </p>
                    </div>
                </div>
            </div>
        }
        <div id="d_footer" class="footer"><span style="font-family: Arial;"></span>&nbsp;2010-2015&nbsp;南宁市天下康科技有限公司 &nbsp;All Rights Reserved.</div>
    </div>
</body>
</html>
