<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/JqueryEasyUI/themes/icon.css")" rel="stylesheet" />
    <link href="~/Content/JqueryEasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="@Url.Content("~/Content/JqueryEasyUI/jquery1.9.min.js")"></script>
    <script src="@Url.Content("~/Content/JqueryEasyUI/jquery.easyui133.min.js")"></script>
    <script src="@Url.Content("~/Content/JqueryEasyUI/locale/easyui-lang-zh_CN.js")"></script>
     <script src="@Url.Content("~/Content/js/CommonFunction.js")"></script>
      <script src="@Url.Content("~/Content/Style.js")"></script>
     <!-- 地图Start-->
   
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=a3wNd0COKjujWVCggydwQUIR"></script>

        <!-- 地图end-->
     @RenderSection("Jsprepare", required: true)@*View页面自定义特定js/css使用*@  
</head>

<body>
    @RenderBody()
</body>
</html>
